<% provide(:title, "Home") %>
<div>
	<h1> Welcome to the Evil Hangmen Game</h1>
	<h2>
		This is the home page for the Evil Hangmen Game. Please click Help for the rule of the game.
	</h2>
	<div id="game"></div>
	<%= link_to "Sign up now!", sign_up_path, class: "btn btn-lg btn-primary sign_up" %>
</div>



<div></div>